SCRAPINGBEE_API_KEY=your_scrapingbee_api_key_here
TRAVELPAYOUTS_ACCESS_TOKEN=your_travelpayouts_access_token_here
TRAVELPAYOUTS_CURRENCY=USD
PORT=3000
SCRAPINGBEE_RENDER_JS=true
SCRAPINGBEE_WAIT_MS=3000
SCRAPINGBEE_TIMEOUT_MS=30000
